/*view-source:https://www.w3schools.com/howto/tryhow_css_parallax_demo.htm
https://www.w3schools.com/howto/howto_css_fullscreen_video.asp
*/
:root {
    scrollbar-width: none;
}

body {
    margin: 0;
}

.alles {
    height: 90vh;
    margin: 20px 30px 0 30px;
    background: url("goetze.gif") no-repeat center fixed;
    background-size: cover;
}

h1 {
    color: black;
    font-size: 7vw;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: clamp(20px, 1vw, 1vw);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

select, option {
    font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
    border: 1px solid transparent;
}

select {
    width: clamp(200px, 20vw, 1000px);
    height: clamp(40px, 2vw, 2vw);
    font-size: clamp(20px, 1vw, 1vw);
    border-radius: 10px;
    padding-left: 20px;
    background-color: dodgerblue;
    color: white;
    scrollbar-width: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .3s ease-in-out;

}

select:hover {
    background-color: hsl(0, 46%, 39%);
}

#ausgang {
    font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
    background-color: hsl(0, 46%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
    width: 20vw;
}

.ausgangbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wahl {
    height: 69%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#platte {
    height: 30px;
    animation: none;
}

#platte:hover {
    animation: none;
}

@keyframes dreh {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

p.unten {
    float: right;
}