:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root::-webkit-scrollbar {
    display: none;
  }
  

::selection {
    background-color: hsl(0, 46%, 39%);
}

body {
    margin: 0;
}

#header{
    width: 100vw;
    height: 100vh;
    background: url(https://media.tenor.com/SZdIMDwJiGcAAAAC/soccer-video-game.gif) no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.flagge {
    float: left;
}

h1 {
    color: black;
    font-size: 7vw;
    margin: 0;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: clamp(20px, 1.6vw, 2.3rem);
}

a {
    font-size: clamp(18px, 1.2vw, 1.5rem);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.hinter1 {
    width: 100vw;
    height: 110vh;
    background: url(brazilien7.1.gif) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hinter2 {
    width: 100vw;
    height: 110vh;
    background: url(messi2.0.gif) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hinter3 {
    width: 100vw;
    height: 110vh;
    background: url(Messi1.0.gif) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hinter4 {
    width: 100vw;
    height: 100vh;
    background: url(spanienhell.gif) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}