:root {
    scrollbar-width: none;
}

::selection {
    background-color: hsl(0, 46%, 39%);
}

body {
    margin: 0;
}

#header{
    width: 100vw;
    height: 100vh;
    background: url(https://media.tenor.com/SZdIMDwJiGcAAAAC/soccer-video-game.gif) no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
}

.flagge {
    float: left;
}

h1 {
    color: black;
    font-size: 7vw;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: clamp(20px, 1.6vw, 2.3rem);
}

a {
    font-size: clamp(18px, 1.2vw, 1.5rem);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.subtext {
    margin: 0 20px 0 20px;
}

.knopfe {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.button {
    height: 60px;
    width: 17vw;
    border: none;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: aqua;
    width: 21vw;
    height: 70px;
}

footer {
    width: 100vw;
    height: 10vh;
    font-size: clamp(20px, 1.6vw, 2.3rem);
    font-weight: bold;
    background-color: hsl(0, 0%, 16%);
    color: hsl(180, 6%, 78%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
}